<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>用户相关</description>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.zxz.servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>后台管理</description>
    <servlet-name>AppInFoServlet</servlet-name>
    <servlet-class>com.zxz.servlet.AppInFoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppInFoServlet</servlet-name>
    <url-pattern>/AppInFoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.zxz.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhenJiangUserServlet</servlet-name>
    <servlet-class>com.zxz.servlet.ZhenJiangUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>跑得快</description>
    <servlet-name>PaoDeKuaiUserServlet</servlet-name>
    <servlet-class>com.zxz.servlet.PaoDeKuaiUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhenJiangUserServlet</servlet-name>
    <url-pattern>/ZhenJiangUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaoDeKuaiUserServlet</servlet-name>
    <url-pattern>/PaoDeKuaiUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.zxz.servlet.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>